<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

	<bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
		<!--服务器 -->
		<property name="host" value="smtp.zoho.com.cn"></property>
		<!--端口 -->
		<property name="port" value="465"></property>
		<!--发送邮件协议 -->
		<property name="protocol" value="smtp"></property>
		<!--用户登陆名 -->
		<!-- <property name="username" value="fadali@zoho.com.cn"></property> -->
		<property name="username" value="azhen2333@zoho.com.cn"></property>
		<!--邮箱密码 -->
		<property name="password" value="bB123456"></property>
		<!--邮箱验证和协议 -->
		<property name="javaMailProperties">
			<props>
				<!--需要验证发件人 -->
				<prop key="mail.smtp.auth">true</prop>
				<!-- 邮件传输所使用加密协议: 465 -->
				<prop key="mail.smtp.ssl.enable">true</prop>
			</props>
		</property>
	</bean>
	<!--邮箱工具类 -->
	<bean id="mailUtil" class="cn.itcast.erp.utils.MailUtil">
		<property name="sender" ref="mailSender"></property>
		<property name="from" value="fadali@zoho.com.cn"></property>
	</bean>


</beans>
	
